page-contacts {
  @include header-style;
  .after-arrow {
    .fixed-content {
      &:after {
        position: absolute;
        right: 66px;
        bottom: 66px;
        width: 125px;
        height: 290px;
        content: '';
        background-image: url("../assets/imgs/curved-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100% 100%;
      }
    }
  }
  .no-contact-content {
    .no-contact-copy {
      background-color: white;
      font: 300 26px Open-Sans-light;
      max-width: 275px;
      margin: auto;
      text-align: center;
    }
  }
}
