<ion-header>
  <ion-navbar *ngIf="!searchbarActivated" >
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title class="head-title" text-left>Your Contacts</ion-title>
      <ion-buttons end>
          <!-- <button ion-button icon-only>
            <ion-icon name="ios-star"></ion-icon>
          </button> -->
          <button ion-button icon-only (click)="toggleSearchbar()">
            <ion-icon name="search"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
    <ion-navbar *ngIf="searchbarActivated">
      <div class="row">
          <ion-searchbar (ionBlur)="searchbarActivated=false;"></ion-searchbar>
      </div>
    </ion-navbar>
</ion-header>

<ion-content [ngClass]="{'after-arrow' : userArray?.length == 0}">
  <div class="no-contact-content" *ngIf="userArray?.length == 0">
  <div class="no-contact-copy">
    <p>
      You don't have any contacts yet.
    </p>
    <p>
      Click the “plus” icon to get started adding contacts.
    </p>
  </div>
</div>
  <ion-fab bottom right>
    <button ion-fab (click)="(!searchbarActivated)?importContacts():searchbarActivated=false;">
      <ion-icon class="add-contacts" ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
  <ion-row *ngFor="let i of userArray" class="item-height" (click)="(!searchbarActivated)?contactDetailsPage(i):searchbarActivated=false;">
      <ion-col col-2>
          <span class="numberCircle">{{getValue(i.firstName)}}</span>
      </ion-col>
      <ion-col class="item-name">
          {{i.firstName}}, {{i.lastName}}
      </ion-col>
  </ion-row>
</ion-content>
